#app-header > * {
    background-color: rgb(78, 76, 76);
    height: 75px
}

#app-title > * {
    color: white;
}

#gh-link {
    white-space: nowrap;
}

.card {
    margin: 1em 0 1em 0;
    min-width: auto;
}